.test {
  /* background-color: rgba(255, 255, 255, 0.8);  */
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  
  
}
.back{
  background-image: url('../../assets/images/wall10.jpg') ;
  background-size:contain;

}
p{
  background-color: #111010;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  display: block;
  transition: transform 0.2s;
  color: #fbf5f5;
}

a:hover {
  transform: scale(1.05);
}

img {
  width: 200px;
  height: 400px; 
  object-fit: cover;
  border: 1px solid #ddd; 
  border-radius: 5px; 
  display: flexbox;
}
body {
  background-image: url('../../assets/images/wp.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center ;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}

.pagination button {
  padding: 5px 10px;
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}
.pagination span {
  font-weight: bold;
  color: #111010;
  font-size: 16px;
  margin: 0 10px; 
}
