<app-header></app-header>
<div class="container">
  <div>
    <h1>Write a Review for {{ movieTitle }}</h1>
    <!-- <img [src]="movieImage" alt="{{ movieTitle }}" width="200"> -->


    <div class="video-container">
      <!-- <iframe
            width="560"
            height="315"
            [src]="movieVideoLink"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
        ></iframe> -->
      <iframe width="560" height="315" [src]="movieVideoLink" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>




    <div class="movie-review">

      <div class="rating">
        <span class="star" *ngFor="let star of stars" (click)="rateMovie(star)"
          [ngClass]="getStarClass(star)">&#9733;</span>
      </div>
      <div class="comment">
        <input type="text" [(ngModel)]="reviewHeading" name="reviewHeading" placeholder="Add Heading">
        <br>
        <textarea [(ngModel)]="userComment" name="userComment" placeholder="Add your review"></textarea>
        <br>
        <button (click)="submitReview()">Submit Review</button>
      </div>

    </div>




    <div *ngFor="let review of reviews" class="review-card">
      <div class="rating">Rating: {{ review.rating }}</div>
      <h2>{{ review.heading }}</h2>
      <p>{{ review.description }}</p>
    </div>

  </div>
</div>